In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cabo San Lucas,MX,2021-08-04 09:39:43,22.8909,-109.9124,82.81,76,93,8.01
1,1,Sherbakul,RU,2021-08-04 09:39:44,54.6316,72.3963,74.88,42,45,12.28
2,2,Zhezkazgan,KZ,2021-08-04 09:39:44,47.8043,67.7144,91.29,22,44,18.39
3,3,Hambantota,LK,2021-08-04 09:39:45,6.1241,81.1185,93.54,59,40,19.57
4,4,Ushuaia,AR,2021-08-04 09:35:00,-54.8000,-68.3000,42.46,65,75,20.71

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cabo San Lucas,MX,2021-08-04 09:39:43,22.8909,-109.9124,82.81,76,93,8.01
6,6,Ondjiva,AO,2021-08-04 09:39:46,-17.0667,15.7333,80.64,22,0,6.91
10,10,Ratnapura,LK,2021-08-04 09:39:47,6.6828,80.3992,81.28,84,99,7.58
18,18,Nishihara,JP,2021-08-04 09:39:50,26.1842,127.7558,82.06,92,75,21.85
21,21,Loandjili,CG,2021-08-04 09:39:51,-4.7561,11.8578,77.11,83,40,8.05
23,23,Luanda,AO,2021-08-04 09:39:51,-8.8368,13.2343,77.02,65,17,5.64
24,24,Bongor,TD,2021-08-04 09:39:52,10.2806,15.3722,80.51,71,98,1.86
31,31,Namibe,AO,2021-08-04 09:39:55,-15.1961,12.1522,81.07,40,1,8.81
35,35,Kavieng,PG,2021-08-04 09:39:56,-2.5744,150.7967,82.33,73,46,2.64
36,36,Kapaa,US,2021-08-04 09:39:57,22.0752,-159.3190,79.12,77,40,3.00

In [12]:
preferred_cities_df.count()

City_ID       202
City          202
Country       202
Date          202
Lat           202
Lng           202
Max Temp      202
Humidity      202
Cloudiness    202
Wind Speed    202
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0   Cabo San Lucas      MX     82.81  22.8909 -109.9124
6          Ondjiva      AO     80.64 -17.0667   15.7333
10       Ratnapura      LK     81.28   6.6828   80.3992
18       Nishihara      JP     82.06  26.1842  127.7558
21       Loandjili      CG     77.11  -4.7561   11.8578
23          Luanda      AO     77.02  -8.8368   13.2343
24          Bongor      TD     80.51  10.2806   15.3722
31          Namibe      AO     81.07 -15.1961   12.1522
35         Kavieng      PG     82.33  -2.5744  150.7967
36           Kapaa      US     79.12  22.0752 -159.3190

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Cabo San Lucas,MX,82.81,22.8909,-109.9124,Hotel Tesoro Los Cabos
6,Ondjiva,AO,80.64,-17.0667,15.7333,SOS Motel
10,Ratnapura,LK,81.28,6.6828,80.3992,Hotel Helenium
18,Nishihara,JP,82.06,26.1842,127.7558,Minshuku Agaihama
21,Loandjili,CG,77.11,-4.7561,11.8578,Résidence ARCHANGE

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Cabo San Lucas,MX,82.81,22.8909,-109.9124,Hotel Tesoro Los Cabos
6,Ondjiva,AO,80.64,-17.0667,15.7333,SOS Motel
10,Ratnapura,LK,81.28,6.6828,80.3992,Hotel Helenium
18,Nishihara,JP,82.06,26.1842,127.7558,Minshuku Agaihama
21,Loandjili,CG,77.11,-4.7561,11.8578,Résidence ARCHANGE
23,Luanda,AO,77.02,-8.8368,13.2343,LANDU MARINEZA LUFUANDU TONI
24,Bongor,TD,80.51,10.2806,15.3722,Oryx Palace
31,Namibe,AO,81.07,-15.1961,12.1522,Hotel Chik Chik Namibe
35,Kavieng,PG,82.33,-2.5744,150.7967,Nusa Island Retreat
36,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))